.footer__wrapper .form-subscription {
  margin-left: auto;
}

.form-subscription input {
  width: 358px;
  height: 50px;
  margin: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--text-color-secondary);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--text-color-accent);
    outline: none;
    cursor: pointer;
  }
}

.form-subscription input:focus {
  outline: none;
}

.window-email-subscribe {
  display: flex;
}

.form-subscription .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: var(--text-color-accent);
}

.form-subscribe-info {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.btn-subscribe-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--footer-color-text-secondary);
}

.subscribe-btn {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #62b4f7;
  }
}

.icon-btn-email-subscribe {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
