.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    position: static;
    padding: 0;
    margin: 0;
    height: auto;

    flex-direction: row;
    align-items: center;
    background-color: transparent;
  }
}

.mobile-menu__button.is-open + .mobile-menu {
  transform: translateX(-100%);
}

.mobile-menu__button {
  padding: 0;
  border: transparent;
  background-color: transparent;
  z-index: 10;

  &:focus,
  &:hover {
    color: var(--text-color-accent);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon {
  fill: currentColor;
}

.mobile-menu__button .mobile-menu__close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__open {
  display: none;
}
