:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --logo-color-secondary: black;
  --footer-color-text-primary: rgba(255, 255, 255, 0.6);
  --footer-color-text-secondary: #ffffff;
  --footer-bg-color: #2f303a;
  --regular-client: #afb1b8;
}
